.favoritesRow {
  background-color: var(--bkg2);
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.favoritesTitle {
  width: fit-content;
  display: block;
  text-align: center;
  margin: 0 auto;
}
