@import url("../../../colors.scss");

.homeMainColumn {
    display: flex;
    flex-direction: column;
    border: 1px solid $lightPurple;
    border-radius: 10px;
    padding: 20px;
}

.homeTopButtonsRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homeTopButtonsLeft,
.homeTopButtonsRight {
    display: flex;
    justify-content: space-between;
    align-items: top;
    gap: 10px;
}

.homeDetailsHeader {
    margin: 0;
}

.homeAddButton {
    border: none;
    background-color: $lightPurple;
    color: $white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.homeAddButton:active {
    transform: scale(0.95);
}

.homeAddButton:hover {
    background-color: $deepPurple;
    color: $whiteGray;
    transition: all 0.6s ease;
}

.homeMainHeader {
    text-align: center;
    color: $lightPurple;
    margin-bottom: 100px;
    margin-top: 80px;
}

.homeDaysWeatherRow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}