.homeContainer {
  background-color: var(--bkg2);
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchContainerHome {
  position: relative;
}

.searchInputHome {
  height: 30px;
  width: 150px;
  max-width: 90;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid var(--bkg1);
  padding-left: 10px;
  margin: 20px 0;
  display: block;
}

.autocompleteHome {
  position: absolute;
  top: 54px;
  left: 0;
  color: var(--text);
  background-color: var(--bkg2);
  margin: 0 auto;
  border: 1px solid var(--bkg1);
  border-top: none;
  width: 162px;
  height: 200px;
  overflow-y: scroll;
}

.listAutocompleteHome {
  list-style-type: none;
  padding-left: 0;
}

.itemListAutocompleteHome {
  padding: 10px;
  cursor: pointer;
}

.itemListAutocompleteHome:hover {
  background-color: var(--bkg1);
  transition: all 0.4s ease;
}
