@import "../../colors.scss";

.homeContainer {
  width: 80%;
  margin: 0 auto;
  min-height: 90vh;
}

.searchContainerHome {
  position: relative;
}

.searchInputHome {
  height: 30px;
  width: 200px;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid $lightPurple;
  padding-left: 10px;
  margin: 20px auto;
  display: block;
}

.autocompleteHome {
  position: absolute;
  top: 34px;
  left: 119px;
  background-color: $white;
  width: fit-content;
  margin: 0 auto;
  border: 1px solid $lightPurple;
  border-top: none;
  width: 212px;
  height: 300px;
  overflow-y: scroll;
  height: fit-content;
}

.listAutocompleteHome {
  list-style-type: none;
  padding-left: 0;
}

.itemListAutocompleteHome {
  padding: 10px;
  cursor: pointer;
}

.itemListAutocompleteHome:hover {
  background-color: $lightGray;
  transition: all 0.3s ease;
}
