.homeContainer {
  width: 80%;
  margin: 0 auto;
  min-height: 80vh;
}

.searchInputInHome {
  height: 30px;
  width: 200px;
  font-size: 1rem;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid rgb(144, 144, 255);
  padding-left: 10px;
  margin: 20px auto;
  display: block;
}

.autoCompleteInHome {
  position: relative;
  bottom: 25px;
  width: fit-content;
  margin: 0 auto;
  border: 1px solid rgb(144, 144, 255);
  border-top: none;
  width: 210px;
  height: fit-content;
}

.listInAutoCompleteInHome {
  list-style-type: none;
  padding-left: 0;
}

.itemListAutocompleteHome {
  padding: 10px;
  cursor: pointer;
}

.itemListAutocompleteHome:hover {
  background-color: gray;
  transition: all 0.3s ease;
}
