.homeContainer {
  background-color: var(--bkg2);
  width: 80%;
  height: fit-content;
  margin: 0 auto;
}

.searchContainerHome {
  position: relative;
}

.searchInputHome {
  height: 30px;
  width: 180px;
  max-width: 90%;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid var(--bkg1);
  padding-left: 10px;
  margin: 20px 0;
  display: block;
}

.autocompleteHome {
  position: absolute;
  top: 34px;
  left: 0;
  color: var(--text);
  background-color: var(--bkg2);
  margin: 0 auto;
  border: 1px solid var(--bkg1);
  border-top: none;
  width: 192px;
  max-width: 90%;
  height: 300px;
  overflow-y: scroll;
  height: fit-content;
}

.listAutocompleteHome {
  list-style-type: none;
  padding-left: 0;
}

.itemListAutocompleteHome {
  padding: 10px;
  cursor: pointer;
}

.itemListAutocompleteHome:hover {
  background-color: var(--bkg1);
  transition: all 0.4s ease;
}
