.desktopNavHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-right: 20px;
  }
  
  .navHeader,
  .headerButtons {
    display: flex;
    align-items: center;
  }
  
  .listNavHeader {
    list-style-type: none;
  }
  
  .itemListNavHeader {
    float: left;
    padding: 5px 10px;
    border: 1px solid var(--bkg2);
    cursor: pointer;
    margin-right: 5px;
  }
  
  .itemListNavHeader:last-child {
    margin-right: none;
  }
  
  .itemListNavHeader:hover {
    border: 1px solid var(--bkg2);
    transition: border 0.4s ease;
  }
  
  .itemListNavHeader:hover > a {
    color: var(--accent1);
    transition: color 0.4s ease;
  }
  
  .linkItemListNavHeader {
    text-decoration: none;
    color: var(--text);
  }
  
  .temperatureUnitButton,
  .darkModeButton {
    color: var(--text);
    background-color: var(--bkg2);
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    width: 120px;
    cursor: pointer;
  }

  .temperatureUnitButton:active,
  .darkModeButton:active {
    transform: scale(0.9);
    transition: all 0.4s ease;
  }

  .temperatureUnitButton:hover i,
  .darkModeButton:hover i {
    transform: rotate(180deg);
    transition: all 0.6s ease;
  }
  
  .darkModeButton {
    margin-right: 10px;
  }
  
  @media screen and (max-width: 700px) {
    .desktopNavHeader {
        display: none;
    }
}