.mobileNavHeaderContainer {
  position: relative;
  color: var(--text);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
}

.mobileNavHeaderContainer .fa-bars {
  font-size: 1.5rem;
  cursor: pointer;
}

.mobileNavHeader {
  background-color: var(--bkg1);
  position: absolute;
  left: 0;
  top: 23px;
  z-index: 1;
  width: 100%;
}

.mobileListNavHeader {
  list-style-type: none;
  padding-left: 15px;
}

.mobileItemListNavHeader {
  margin-bottom: 10px;
  width: fit-content;
  cursor: pointer;
}

.mobileItemListNavHeader a {
  text-decoration: none;
  color: var(--text);
}

.mobileItemListNavHeader:hover i {
  transform: rotate(180deg);
  transition: all 0.6s ease;
}

@media screen and (min-width: 700px) {
  .mobileNavHeaderContainer {
    display: none;
  }
}
