@import "./colors.scss";

body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--shadow); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(211, 211, 211); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(182, 182, 182); 
}

/* themes */
:root {
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;

  --text-light: hsl(255, 42%, 38%);
  --accent1-light: hsl(175, 100%, 83%);
  --accent2-light: hsl(21, 84%, 56%);
  --accent3-light: hsl(40, 89%, 65%);
  --bkg1-light: rgb(170, 221, 255);
  --bkg2-light: rgb(218, 249, 252);
  --shadow-light: 20px 20px 50px hsl(255, 36%, 17%, 0.35),
    -30px -30px 50px hsl(26, 37%, 96%, 0.15);

  --text-dark: rgb(229, 255, 195);
  --accent1-dark: hsl(175, 100%, 83%);
  --accent2-dark: hsl(21, 84%, 56%);
  --accent3-dark: hsl(40, 89%, 65%);
  --bkg1-dark: hsl(218, 15.4%, 10.2%);
  --bkg2-dark: rgb(46, 51, 60);
  --shadow-dark: 20px 20px 50px hsl(255, 36%, 17%, 0.35),
    -30px -30px 50px hsl(26, 37%, 26%, 0.15);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: var(--text-dark);
    --accent1: var(--accent1-dark);
    --accent2: var(--accent2-dark);
    --accent3: var(--accent3-dark);
    --bkg1: var(--bkg1-dark);
    --bkg2: var(--bkg2-dark);
    --shadow: var(--shadow-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text: var(--text-light);
    --accent1: var(--accent1-light);
    --accent2: var(--accent2-light);
    --accent3: var(--accent3-light);
    --bkg1: var(--bkg1-light);
    --bkg2: var(--bkg2-light);
    --shadow: var(--shadow-light);
  }
}

[data-theme="dark"] {
  --text: var(--text-dark);
  --accent1: var(--accent1-dark);
  --accent2: var(--accent2-dark);
  --accent3: var(--accent3-dark);
  --bkg1: var(--bkg1-dark);
  --bkg2: var(--bkg2-dark);
  --shadow: var(--shadow-dark);
}

[data-theme="light"] {
  --text: var(--text-light);
  --accent1: var(--accent1-light);
  --accent2: var(--accent2-light);
  --accent3: var(--accent3-light);
  --bkg1: var(--bkg1-light);
  --bkg2: var(--bkg2-light);
  --shadow: var(--shadow-light);
}
